.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}


.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}


.msgcontainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}


.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: black;
    font-size: 10px;
}

#sign-in-button {
    margin-left: 10px;
    color: inherit;
}

.mdl-button .material-icons {
    margin-top: -2px;
}
